/* Empty. Add your own CSS if you like */
.done {
	background-color: #4CAF50
}

.hashtag{
  background-color: rgba(169, 176, 179, 0.18);
  font-size: larger;
  line-height: 2.0;
  color: #727272;
}

/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}    
p {
  text-align: center;
  margin-bottom: 40px !important;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}*/